// --- Media Query sizes
$xxl-width: 1600px;
$xl-width: 1100px;
$lg-width: 900px;
$md-width: 700px;
$sm-width: 500px;

// --- Background z-index
$very-front: 3;
$front: 2;
$middle: 1;
$back: 0;
$very-back: -1;