.Nav{
    position: relative;
    &__logo{
        width: 9rem;
        height: 9rem;
        position: absolute;
        @media (max-width: 700px) {
            width: 33%;
        }
    }

    &__burger{
        width: 9rem;
        height: 9rem;
        position: absolute;
        right: 0;
        @media (max-width: 700px) {
            width: 33%;
        }
    }

    &__links{
        position: absolute;
        width: 9rem;
        height: 9rem;
        right: 0;
        padding-right: 9rem;
        min-width: 50%;
        text-align: right;
        ul{
            list-style: none;
            margin: 0;
            padding: 0;
            display: inline-flex;
            li{
                padding-top: 3.5rem;
                font-size: 21px;
                padding-right: 2em;
            }
        }

        @media (max-width: 700px) {
            display: none;
        }
    }
}