.GuideLines{

    $lineSize: 1px;
    $lineColor: #b6b8b9;

    z-index: $front;
    position: fixed;
    width: 100%;
    height: 100%;
    pointer-events: none;


    &__line{
        position: absolute;
        height: 100%;
        width: $lineSize;
        background: $lineColor;
        &.verticle{
            width: 100%;
            height: $lineSize;
        }
    }

    &__top{
        position: absolute;
        top: $sideMargin;
    }

    &__bot{
        position: absolute;
        bottom: 4.5rem; // Half of lines position
    }

    &__left{
        position: absolute;
        left: $sideMargin;
        height: 100%;
        // @media (max-width: $sm-width) {
        //     left: 33%;
        // }
    }

    &__center{
        position: absolute;
        left: 50%;
        height: 100%;
        @media (max-width: $xl-width) {
            display: none;
        }
    }

    &__right{
        position: absolute;
        right: $sideMargin;
        height: 100%;
        // @media (max-width: $sm-width) {
        //     right: 33%;
        // }
    }

}