.SlideShowBanner{
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: contain;
    &__container{
        margin: 0 $sideMargin;
        margin-top: $sideMargin;
        height: calc(100% - (#{$sideMargin} + (#{$sideMargin} / 2)));
        position: relative;
        overflow: hidden;
        &__innerIMG{
            background-size: cover;
            position: absolute;
            left: 0;
            top: -#{$sideMargin};
            left: -#{$sideMargin};
            width: calc(100% + (#{$sideMargin} * 2));
            height: calc(100% + #{$sideMargin} + (#{$sideMargin} / 2));
        }
    }
}