.SlideShowBanner{
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: contain;
    &.hide{
        opacity: 0;
        animation:frame_hide 1s 1;
        -moz-animation:frame_hide 1s 1;
        -webkit-animation:frame_hide 1s 1;
        -o-animation:frame_hide 1s 1;
    }
    &__backgroundIMG{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        &.inAnim{
            opacity: 1;
            animation:background_anim_in 1s 1;
            -moz-animation:background_anim_in 1s 1;
            -webkit-animation:background_anim_in 1s 1;
            -o-animation:background_anim_in 1s 1;
            animation-delay: 0.3s;
        }
        &.outAnim{
            opacity: 0;
            animation:background_anim_out 0.5s 1;
            -moz-animation:background_anim_out 0.5s 1;
            -webkit-animation:background_anim_out 0.5s 1;
            -o-animation:background_anim_out 0.5s 1;
        }
    }
    &__container{
        margin: 0 $sideMargin;
        margin-top: $sideMargin;
        height: calc(100% - (#{$sideMargin} + (#{$sideMargin} / 2)));
        position: relative;
        overflow: hidden;
        &__innerIMG{
            background-size: cover;
            position: absolute;
            left: 0;
            top: -#{$sideMargin};
            left: -#{$sideMargin};
            width: calc(100% + (#{$sideMargin} * 2));
            height: calc(100% + #{$sideMargin} + (#{$sideMargin} / 2));
            &.outAnim{
                opacity: 0;
                animation:container_anim_out 0.5s 1;
                -moz-animation:container_anim_out 0.5s 1;
                -webkit-animation:container_anim_out 0.5s 1;
                -o-animation:container_anim_out 0.5s 1;
            }
            &.inAnim{
                transform: rotate(0);
                opacity: 1;
                animation:container_anim_in 1s 1;
                -moz-animation:container_anim_in 1s 1;
                -webkit-animation:container_anim_in 1s 1;
                -o-animation:container_anim_in 1s 1;
                animation-delay: 0.3s;
            }
        }
    }
}

.hidden{
    opacity: 0;
}

// IN
@keyframes container_anim_in
{
    0% {
        opacity: 0;
        transform: rotate(15deg) scale(1.2);
    }
    20%{
        opacity: 1;
    }
    100% {
        transform: rotate(0deg);
    }
}

// OUT
@keyframes container_anim_out
{
    0% {
        opacity: 1;
        transform: rotate(0deg);
    }
    100%{
        opacity: 0;
        transform: rotate(-5deg) scale(1.2);
    }
}

// IN
@keyframes background_anim_in
{
    0% {
        opacity: 0;
        transform: rotate(5deg) scale(1.2);
    }
    // 20%{
    // }
    100% {
        opacity: 1;
        transform: rotate(0deg);
    }
}

// OUT
@keyframes background_anim_out
{
    0% {
        opacity: 1;
        transform: rotate(0deg) scale(1);
    }
    100% {
        transform: rotate(0deg) scale(1.2);
        opacity: 0;
    }
}

@keyframes frame_hide
{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
}
}
