.SlideShowWrapper{
    background: black;
    overflow: hidden;
    position: relative;
    height: 100vh;

    @media  (max-width: $xl-width){ /* 1100px */
        height: 600px;
    }

    // Hacky container for overlaying elements
    .absolute{
        position: absolute;
        top: 0;
        left: 0;
        @include Fullsize;
    }


    .mobileControls{
        width: 100%;
        height: 100%;
        z-index: 1000;  
        position: absolute;
        pointer-events: none;
        display: none;
        font-size: 50px;
        @media (max-width: $xl-width) { /*1100px*/
            display: block;
            // background: blue;
        }
        &__arrow{
            cursor: pointer;
            position: absolute;
            top: calc(50% + (#{$sideMargin} / 2) );
            transform: translate3d(0, -50%, 0);
            color: white;
            &.Previous{
                left: 5%;
            }
            &.Next{
                right: 5%;
            }
        }
    }

}

.SlideShowBanner{
    $overlayOpacity: 0.60;
    @include Fullsize;
    position: absolute;
    background-size: contain;
    @media (max-width: $xl-width) { /* 700px */
        left: 0;
    }
    &.hide{
        opacity: 0;
        z-index: -1;
        animation:frame_hide 1s 1;
        -moz-animation:frame_hide 1s 1;
        -webkit-animation:frame_hide 1s 1;
        -o-animation:frame_hide 1s 1;
    }

    &__CircleContainer{
        margin: 0 $sideMargin;
        margin-top: $sideMargin;
        margin-bottom: calc(#{$sideMargin} / 2);
        position: relative;
        width: calc(100% - (#{$sideMargin} + (#{$sideMargin} / 2)));
        height: calc(100% - 13.5rem);
        z-index: 10;
        @media (max-width: $xl-width) { /* 500px */
            display: none;
        }
        &__Circle{
            position: absolute;
            // // window height - padding top and bottom
            // // 100vh - (4.5 + 9 = 13.5)
            width: calc(100vh - (#{$sideMargin} + (#{$sideMargin} / 2)));
            height: 100%;
            border-radius: 50%;
            border: 1px solid white;
            transform: translateX(-50%);
            &__Arrow{
                $p: 70px;
                position: absolute;
                cursor: pointer;
                width: 50%;
                height: 20px;
                // background: white;
                top: 50%;
                color: white;
                font-size: 50px;
                box-sizing: border-box;
                &.Next{
                    left: 50%;
                    text-align: left;
                    padding-left: $p;
                }
                &.Previous{
                    left: 0;
                    text-align: right;
                    padding-right: $p;
                }
            }
        }
    }

    &__backgroundIMG{
        position: absolute;
        top: 0;
        left: 0;
        @include Fullsize;
        @include overlay($overlayOpacity);
        &.inAnim{
            opacity: 1;
            animation:background_anim_in 1s 1;
            -moz-animation:background_anim_in 1s 1;
            -webkit-animation:background_anim_in 1s 1;
            -o-animation:background_anim_in 1s 1;
            // animation-delay: 1s;
        }
        &.outAnim{
            opacity: 0;
            animation:background_anim_out 0.5s 1;
            -moz-animation:background_anim_out 0.5s 1;
            -webkit-animation:background_anim_out 0.5s 1;
            -o-animation:background_anim_out 0.5s 1;
        }
    }
    &__container{
        margin: 0 $sideMargin;
        // margin-top: $sideMargin;
        // height: calc(100% - (#{$sideMargin} ));
        height: 100%;
        position: relative;
        overflow: hidden;
        @media (max-width: $md-width) { /* 700px */
            height: calc(100% - #{$sideMargin});
            left: 0;
        }
        @media (max-width: $xl-width) { /* 1100px */
            height: 100%;
        }
        &__innerIMG{
            @include overlay($overlayOpacity);
            background-size: cover;
            position: absolute;
            left: 0;
            top: 0;
            left: -#{$sideMargin};
            width: calc(100% + (#{$sideMargin} * 2));
            // height: calc(100% + #{$sideMargin} + (#{$sideMargin} / 2));
            height: 100%;
            @media (max-width: $xl-width){
                background-size: cover;
                position: absolute;
                left: 0;
                /* top: -9rem; */
                left: -9rem;
                width: calc(100% + (9rem * 2));
                height: 100%;
            }
            // @media (max-width: $md-width) { /* 700px */
            //     height: calc(100% + #{$sideMargin});
            // }
            @media (max-width: $sm-width) { /* 500px */
                display: none !important;
            }
            &.outAnim{
                opacity: 0;
                animation:container_anim_out 0.5s 1;
                -moz-animation:container_anim_out 0.5s 1;
                -webkit-animation:container_anim_out 0.5s 1;
                -o-animation:container_anim_out 0.5s 1;
            }
            &.inAnim{
                transform: rotate(0);
                opacity: 1;
                animation:container_anim_in 1s 1;
                -moz-animation:container_anim_in 1s 1;
                -webkit-animation:container_anim_in 1s 1;
                -o-animation:container_anim_in 1s 1;
                // animation-delay: 1s;
            }
        }
        &__content{
            $y: -50%;
            position: relative;
            width: 50%;
            left: 50%;
            height: calc(100% - 13.5rem);
            overflow: hidden;
            box-sizing: border-box;
            margin-top: 9rem;
            margin-bottom: 4.5rem;
            @media (max-width: $xl-width) { /* 900px */
                width: 100% !important;
                left: 0;
                height: calc(100% - 9rem);
                margin-bottom: 0;
                text-align: center;
            }
            @media (max-width: $md-width) { /* 500px */
                text-align: center !important;
            }
            &__text{
                $y: -50%;
                height: auto;
                display: inline-block;
                position: absolute;
                color: white;
                vertical-align: middle;
                top: 50%;
                overflow: hidden;
                transform: translate3d(0, $y, 0);
                z-index: 10000;
                padding: 30px;
                box-sizing: border-box;
                font-family: 'Open Sans', sans-serif;
                @media (max-height: $smallBanner-height){
                    top: 30%;
                }
                @media (min-width: 1800px){ /* 1600px */
                    padding-right: 10%;
                }
                @media (max-width: $xl-width) { /* 900px */
                    padding-right: 40px;
                    position: relative;
                    width: 100%;
                }
                @media (max-width: $md-width) { /* 700px */
                    padding: 0 30px;
                    font-size: 70%;
                }
                @media (max-width: $sm-width) { /* 500px */
                    padding: 0 7px;
                    font-size: 155%;
                }
                &.inAnim{
                    $x: 0;
                    transform: translate3d($x, $y, 0);
                    animation: inAnim 1s 1;
                    -moz-animation: inAnim 1s 1;
                    -webkit-animation: inAnim 1s 1;
                    -o-animation: inAnim 1s 1;
                    @keyframes inAnim {
                        from{
                            opacity: 0;
                            transform: translate3d(200%, $y, 0); 
                        }
                        to{
                            opacity: 1;
                            transform: translate3d($x, $y, 0);
                        }
                    }
                }
                &.outAnim{
                    $x: -100%;
                    transition: all 1s;
                    transform: translate3d($x, $y, 0);
                    animation:outAnim 1s 1;
                    -moz-animation:outAnim 1s 1;
                    -webkit-animation:outAnim 1s 1;
                    -o-animation:outAnim 1s 1;
                    @keyframes outAnim {
                        from{
                            opacity: 1;
                            transform: translate3d(0, $y, 0);

                        }
                        to{
                            opacity: 0;
                            transform: translate3d($x, $y, 0);
                        }
                    }
                }
                .header{
                    font-size: 3.5em;
                    margin-bottom: 20px;
                    @media (max-width: $md-width) { /* 800px */
                        // font-size: 3em;
                        margin-bottom: 10px;
                    }
                    @media (max-width: $sm-width) { /* 500px */
                        // font-size: 24px;
                    }
                }
                .footnote{
                    font-size:1.25em;
                    @media (max-width: $md-width) { /* 800px */
                        // font-size: 1.5em;
                    }
                    @media (max-width: $sm-width) { /* 500px */
                        // font-size: 16px;
                    }
                }
            }
        }
    }
}

.hidden{
    opacity: 0;
}

// Inner IMG Animation - Transition IN
@keyframes container_anim_in
{
    0% {
        opacity: 0;
        transform: rotate(15deg) scale(3);
    }
    // 20%{
        
    // }
    100% {
        opacity: 1;
        transform: rotate(0deg);
    }
}

// Inner IMG Animation - Transition OUT
@keyframes container_anim_out
{
    0% {
        opacity: 1;
        transform: rotate(0deg);
    }
    100%{
        opacity: 0;
        transform: rotate(-5deg) scale(1.2);
    }
}

// Background IMG Animation - Transition IN
@keyframes background_anim_in
{
    0% {
        opacity: 0;
        transform: rotate(5deg) scale(2);
    }
    // 20%{
    // }
    100% {
        opacity: 1;
        transform: rotate(0deg) scale(1);
    }
}

// Background IMG Animation - Transition OUT
@keyframes background_anim_out
{
    0% {
        opacity: 1;
        transform: rotate(0deg) scale(1);
    }
    100% {
        transform: rotate(0deg) scale(1.2);
        opacity: 0;
    }
}

// Wrapper Animation - Hide Frame
// It is currently opacity 1 because we dont want the text to hide while all of the other animations do their magic
@keyframes frame_hide
{
    0% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
