$bk: blue;

:export {
	test: $bk;
}

body, html{
	font-size: 20px; /* Controls the guideline size */
	@media (max-width: $xxl-width) { /* 1600px */ 
		font-size: 16px;
	}
	@media (max-width: $lg-width) { /* 900px */
		font-size: 14px;
	}
	@media (max-width: $sm-width){ /* 500px */
		font-size: 7px;
	}
}

body{
	padding: 0;
	margin: 0;
	// margin-bottom: 11px; // Smooth scrolling offset fix
}

main{
	padding-top: 9rem;
	// font-family: 'Raleway', sans-serif;
	font-family: 'Open Sans', sans-serif;

	.strokeThrough{
		position: relative;
		&:before{
			content: '';
			width: 100%;
			height: 5px;
			background: $turq;
			position: absolute;
			bottom: 0;
		}
	}

	h1{
		font-size: 4rem;
		line-height: 6rem;
		letter-spacing: 0.25rem;
		color: $dark-grey;
		@media (max-width: $md-width) {
			font-size: 3rem;
		}
	}

	p{
		color: $dark-grey;
		font-size: 1.25rem;
		line-height: 2rem; 
	}

}

.container{
	margin: 0 $sideMargin;
	&__cell{
		position: relative;
		width: 50%;
		&.left{
			margin-right: 50%;
		}
		&.right{
			margin-left: 50%;
		}
		&.fullW{
			width: 100%;
		}
		@media (max-width: $xl-width) {
			display: block;
			width: 100% !important;
			margin-right: 0 !important;
			margin-left: 0 !important;
		}
	}

}


.hide{
	transition: all 1.5s;
	opacity: 0;
}
.show{
	transition: all 1.5s;
	opacity: 1;
}